.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  background-image: url("/assets/bannerswirl.jpg");
}

.footer {
  background-image: url("/assets/bgfooter.jpg");
}

.header-footer {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner-background,
.footer-background {
  margin: auto;
  flex-basis: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  display: flex;
}

.footer-background {
  flex-basis: 40%;
}

.banner-text,
.footer-text {
  margin: auto;
  color: #ffffff;
  z-index: 1;
  padding: 2em;
}

.scroll,
.claps {
  transition: all 500ms;
}

.scroll:hover {
  font-size: 3em;
  font-size-adjust: 0.5em;
}

.claps:hover {
  font-size: 1.5em;
  font-size-adjust: 0.5em;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.teaser {
  margin-top: -1.3em;
}

.project-card-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.playtime {
  background-image: url("/assets/bgplaytime.jpg");
}

.welcome-board {
  background-image: url("/assets/bgwelcomeboard.jpg");
}

.code-code-revolution {
  background-image: url("/assets/bgcodecoderevolution.jpg");
}

.hyperfundit {
  background-image: url("/assets/bghyperfundit.jpg");
}

.project-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  color: #ffffff;
  flex-basis: 90%;
  margin: auto;
}

.left,
.right {
  order: 1;
  padding: 1em;
  margin: auto;
}

.right {
  order: 2;
}

.details {
  flex-basis: 100%;
}

.asset {
  flex-basis: 100%;
}

.youtube {
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.buttons {
  display: flex;
  text-align: center;
  margin-top: 0.5em;
}

.button {
  display: inline-block;
  padding: 1em;
  margin: 0.5em;
  flex: 1;
  border: solid 1px #fc5185;
  border-radius: 0.4em;
  transition: border-width 0.6s linear;
}

.button:hover {
  border-width: 5px;
}

.image {
  border-radius: 0.4em;
}

.icon {
  width: 150px;
}

.claps {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 900px) {
  .banner-background {
    flex-basis: 40%;
  }

  .banner-text {
    flex-direction: column;
  }

  .footer-text,
  .project-card {
    display: flex;
  }

  .project-card {
    margin: 16em 8em 16em 8em;
  }

  .details {
    flex-basis: 33%;
  }

  .asset {
    flex-basis: 66%;
  }
}
