.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Futura;
  font-size: 120px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0.5em;
  color: rgba(18, 18, 18, 1);
}

h2 {
  font-family: Futura;
  font-size: 48px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.25em;
  color: rgba(22, 22, 29, 1);
}

h3 {
  font-family: Futura;
  font-size: 22px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 1.2em;
  color: rgba(22, 22, 29, 1);
}

h4 {
  font-family: Futura;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

p {
  font-family: Futura;
  font-size: 0.8;
  transform: scale(1, 1.3);
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  letter-spacing: 0.08em;
  line-height: 1.65em;
  color: rgba(54, 54, 54, 1);
  padding-bottom: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.navbar {
  display: flex;
  background-color: rgba(26, 26, 26, 1);
  color: #ffffff;
  padding: 1em 2em 1em 2em;
}

.nav-title {
  flex: 1;
  padding-left: 4em;
  margin: auto;
  color: #ffffff;
}

.nav-links {
  flex: 1;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.nav-link-bio {
  padding: 0em 1em 0em 1em;
}

.nav-link-projects {
  padding: 0em 1em 0em 1em;
}

.nav-link-resume {
  padding: 0em 1em 0em 1em;
}

.nav-link-contact {
  padding: 0em 1em 0em 1em;
}

.banner {
  background-image: url("/assets/bannerwarp.jpg");
}

.projects-break-background {
  background-image: url("/assets/breakpoint.jpg");
}

.resume-break-background {
  background-image: url("/assets/resumepoint.jpg");
}

.footer-section {
  background-color: rgba(26, 26, 26, 1);
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.footer-top {
  order: 1;
  margin: auto;
}

.footer-bottom {
  order: 2;
  margin: auto;
}

.header-break-footer,
.dark-overlay {
  min-height: 100vh;
  flex-basis: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner-background,
.footer-background {
  margin: auto;
  flex-basis: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  display: flex;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-background {
  flex-basis: 40%;
}

.banner-text {
  margin: auto;
  color: #ffffff;
  display: flex;
}

.banner-text h1 {
  text-align: center;
  color: #ffffff;
}

.scroll-text {
  transition: all 500ms;
}

.scroll-text:hover {
  font-size: 3em;
  font-size-adjust: 0.5em;
}

.scroll,
.claps {
  margin-top: 2em;
  transition: all 500ms;
  color: #ffffff;
}

.scroll:hover {
  font-size: 1.5em;
  font-size-adjust: 0.5em;
}

.claps:hover {
  font-size: 1.5em;
  font-size-adjust: 0.5em;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.teaser {
  margin-top: -1.3em;
}

.bio-section,
.projects-section,
.resume-section {
  padding: 6em;
  display: flex;
  flex-direction: column;
}

.bio-quote,
.projects-title,
.resume-title {
  order: 1;
  max-width: 60%;
  margin-bottom: 4em;
}

.bio-area,
.projects-area,
.resume-area {
  order: 2;
  display: flex;
}

.bio-left,
.resume-left {
  order: 1;
  flex: 1;
}

.bio-right,
.resume-right {
  order: 2;
  flex: 1;
}

.bio-piece {
  margin-bottom: 5em;
}

.projects-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-div {
  flex: 1 0 33%;
  box-sizing: border-box;
  max-width: 33%;
  max-height: 33%;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.project-image {
  width: 100%;
  height: 200px;
}

.project-title {
  text-align: center;
}

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 200px;
  z-index: 1;
  margin-bottom: 6em;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: rgba(18, 18, 18, 1);
}

.face.back p {
  color: white;
}

.project-card-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.playtime {
  background-image: url("/assets/bgplaytime.jpg");
}

.welcome-board {
  background-image: url("/assets/bgwelcomeboard.jpg");
}

.code-code-revolution {
  background-image: url("/assets/bgcodecoderevolution.jpg");
}

.hyperfundit {
  background-image: url("/assets/bghyperfundit.jpg");
}

.project-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  color: #ffffff;
  flex-basis: 90%;
  margin: auto;
}

.left,
.right {
  order: 1;
  padding: 1em;
  margin: auto;
}

.right {
  order: 2;
}

.details {
  flex-basis: 100%;
}

.asset {
  flex-basis: 100%;
}

.youtube {
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
}

.buttons {
  display: flex;
  text-align: center;
  margin-top: 0.5em;
}

.button {
  display: inline-block;
  padding: 1em;
  margin: 0.5em;
  flex: 1;
  color: #ffffff;
  transition: color 0.3s linear;
}

.button:hover {
  color: rgba(221, 221, 221, 1);
}

.image {
  border-radius: 0.4em;
}

.icon {
  width: 150px;
}

.claps {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 900px) {
  .banner-background {
    flex-basis: 40%;
  }

  .banner-text {
    flex-direction: column;
  }

  .project-card {
    display: flex;
  }

  .project-card {
    margin: 16em 8em 16em 8em;
  }

  .details {
    flex-basis: 33%;
  }

  .asset {
    flex-basis: 66%;
  }
}
